html {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

body { 
    background: #f5f7f9;
    padding-top: 70px;
    margin-bottom: 80px; /*空间预留给footer, 大于等于footer的高度*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.navbar-default {
    background-color: #ffffff;
}

.header-box {
    font-size: 16px;
    background: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
    .header-box a {
        color: #1a1a1a;
    }

.site-box {
    padding: 20px;
    background: #ffffff;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.right-block {
    padding: 20px 60px;
}
    .right-block .btn {
        margin-top: 20px;
    }

.media-heading {
    font-size: 15px;
    font-weight: 600;
}
h4 {
    font-size: 15px;
    font-weight: 600;
}

.media-heading a {
    color: #444;
}
.question-item {
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}
.topic-question-item {
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #ddd;
}

.answer-item {
    padding: 10px;
}

.question-title {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}
h3 a {
    font-size: 18px;
    font-weight: 600;
    color: #1a1a1a;
}

.question-meta, .answer-meta {
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.btn {
    margin: 0 5px;
}

.answer-content a {
    color: #333;
    font-size: 14px;
    font-weight: 500;
}

p {
    letter-spacing: 1px;
    line-height: 1.67;
    font-size: 14px;
}

.right-info {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    float: right;
}
.right-general {
    font-size: 14px;
    color: #333;
    float: right;
    font-weight: 400;
}

h3.big-topic {
    font-size: 22px;
    font-weight: 600;
}

.rightdes-num {
    font-size: 18px;
    font-weight: 600;
    margin-left: 20px;
}

.header-bar {
    font-size: 16px;
    font-weight: 600;
}

.question-detail {
    padding: 20px;
    background: #ffffff;
}

.info-num {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.question-right {
    margin-top: 30%;
    margin-bottom: 20px;
    float: left;
    width: 50%;
}

.container-fluit {
    background: #ffffff;
}

.author-meta {

}

.recommend {
    
}

.form-register, .form-login {
    max-width: 350px;
    padding: 20px;
    background: #ffffff;
    margin: 0 auto;
}

.topic-item {
    padding: 15px;
    position: relative;
    float: left;
    width: 50%;
    border-bottom: 1px dotted #ddd;
}

.trend-item, .user-item, .search-item {
    padding: 5px 0;
    border-bottom: 1px dotted #ddd;
}

.user-profile {
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
}
.username-big {
    font-size: 26px;
    font-weight: 600;
}

.form-input {
    margin-bottom: 20px;
}

.comment-content {
    margin-top: 10px;
    margin-left: 24px;
}

#back-to-top {
    position: fixed;
    right: 80px;
    bottom: 30px;
    cursor: pointer;
}