body { 
    padding-top: 70px;
    font-family: "Microsoft YaHei", sans-serif;
    background: #f5f7f9
}

.navbar-default {
    background-color: #ffffff;
}

.header-box {
    font-size: 16px;
    color: #1a1a1a;
    background: #ffffff;
    margin-bottom: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.site-box {
    padding: 20px;
    background: #ffffff;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.question-item, .answer-item {
    padding: 20px;
}

.question-title {

}

.question-meta, .answer-meta {
    margin: 5px 0 20px 0;
    font-size: 14px;
}

.question-answer a {
    color: #333;
}

p {
    letter-spacing: 1px;
}

.strong {
    font-weight: bold;
}

.question-detail {
    padding: 20px;
    background: #ffffff;
}

.question-info {
    padding-top:40px;
    font-size: 16px;
    font-weight: bold;
}

.container-fluit {
    background: #ffffff;
}

.author-meta {

}

.recommend {
    
}

.form-register, .form-login {
    max-width: 350px;
    padding: 20px;
    background: #ffffff;
    margin: 0 auto;
}