{% extends 'base.html' %}

{% block title %}回答详情-知乎儿{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

{% include 'zhihu/question.html' with question=answer.question %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="site-box">
        <div class="answer-item">
          {% if answer.is_anonymous %}
          <div class="media">
            <div class="media-left"><img src="" alt="头像" class="media-object"></div>
            <div class="media-body">
              <h4 class="media-heading text-muted">匿名回答</h4>
            </div>
          </div>
          {% else %}
          <div class="media">
            <a href="{% url 'user_home' answer.author_id %}" class="media-left"><img src="" alt="头像" class="media-object"></a>
            <div class="media-body">
              <h4 class="media-heading"><a href="{% url 'user_home' answer.author_id %}">{{ answer.author.username }}</a></h4>
              <p class="text-muted">{{ answer.author.description }}</p>
            </div>
          </div>
          {% endif %}
          <p class="text-muted">{{ answer.get_follow_nums }} 人赞同了该回答</p>
          <p>
            {{ answer.content|safe }}
          </p>
          <p class="text-muted">编辑于 {{ answer.pub_time }}</p>
          <div class="answer-meta">
            <button type="button" class="btn btn-primary btnvote-up"><span class="glyphicon glyphicon-triangle-top"></span> {{ answer.get_follow_nums }}</button>
            <button type="button" class="btn btn-default btnvote-down"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
            <a href="#comment-form"><button type="button" class="btn btn-default">{{ answer.get_comment_nums }} 条评论</button></a>
            <button type="button" class="btn btn-default collect-answer"><span class="glyphicon glyphicon-star"></span>{% if has_collect_answer %}已收藏{% else %}收藏{% endif %}</button>        
          </div>
        </div>
      </div>

      <div class="site-box">
        <div class="clearfix">
          <strong>{{ answer.get_comment_nums }} 个评论</strong>
          <span class="pull-right dropdown">
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button">默认排序<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li class="active"><a href="">默认排序</a></li>
              <li><a href="">时间排序</a></li>
            </ul>
          </span>
        </div>
        <hr>

        <div class="comment">

        {% for comment in page.object_list %}
          <div class="media">
            <a href="" class="media-left"><img src="" alt="头像" class="media-object"></a>
            <div class="media-body"><h4 class="media-heading">{{ comment.user.nickname }}<span class="right-info">{{ comment.add_time }}</span></h4></div>
          </div>
          <p>{{ comment.comment }}</p>
          <hr>
          {% empty %}
          <p>暂时没有评论</p>
          {% endfor %}

          {% include 'zhihu/paginator.html' %}

          <form class='comment-form' id="comment-form" method='post'>
            {% csrf_token %}
            {% for field in comment_form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field.as_widget }}
            </div>
            {% endfor %}
            <button id="comment-submit" class="btn btn-primary" type="submit">评论</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="site-box">
        <div class="media">
          <a href="" class="media-left"><img src="" alt="头像" class="meida-object"></a>
          <div class="media-body">
            <h4 class="media-heading">{{ answer.author.nickname }}</h4>
            <p>{{ answer.author.description }}</p>
          </div>
        </div>
        <hr>
        <div class="author-meta">
          <ul class="nav nav-pills nav-stacked">
            <li><a href=""><span class="badge pull-right">12</span>回答</a></li>
            <li><a href=""><span class="badge pull-right">3</span>文章</a></li>
            <li><a href=""><span class="badge pull-right">49</span>关注者</a></li>
          </ul>
        </div>
      </div>
      <div class="site-box">
        <p class="strong">被收藏了{{ answer.get_collect_nums }}次</p>
      </div>
      <div class="site-box">
        <h4>相关问题</h4>
        <hr>
        {% for question in relate_questions %}
          <p><a href="{% url 'question_detail' question.id %}">{{ question.title }}</a> <span class="text-muted">{{ question.get_answer_nums }} 个回答</span></p>
        {% empty %}
        <p>没有相关问题</p>
        {% endfor %}
      </div>
      <div class="site-box">
        <h4>相关推荐</h4>
        <hr>
        <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
        <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
        <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block custom_js %}

<script>
  var old_path = window.location.pathname;
  //点赞
  function add_follow(url) {
    $.ajax({
      cache:false,
      type:'GET',
      url:url,
      async:true,
      success:function(data) {
        if(data.status == 'fail') {
          alert(data.message);
        }else if (data.status == 'success') {
          window.location.reload();
        }else if (data.status == 'nothing') { 
        }else {
          window.location.href = "{% url 'user_login' %}" + '?next=' + old_path;
        }
      },
    });
  }
  // 点赞
  $('.btnvote-up').on('click', function() {
    add_follow("{% url 'add_follow_answer' answer.id %}");
  });
  // 取消点赞
  $('.btnvote-down').on('click', function() {
    add_follow("{% url 'cancel_follow_answer' answer.id %}")
  });

  // 回答评论
  $('#comment-submit').on('click', function() {
    var old_href = window.location.href;
    $.ajax({
      cache:false,
      type:'POST',
      url:"{% url 'comment_answer' answer.id %}",
      data:$('.comment-form').serialize(),
      async:true,
      success:function(data) {
        if(data.status == 'fail') {
          alert(data.message);
        }else if(data.status == 'success') {
          //alert('已评论');
          window.location.href=old_href;
        }else{
          window.location.href = "{% url 'user_login' %}" + '?next=' + old_path;
        }
      },
    });
  });

  //收藏答案
  $('.collect-answer').on('click', function() {
    $.get("{% url 'collect_answer' answer.id %}", function(data) {
      if(data.status == 'success') {
        $('.collect-answer').text(data.message);
      }else if(data.status == 'fail') {
        alert(data.message);
      }else {
        window.location.href = "{% url 'user_login' %}" + '?next=' + old_path;
      }
    });
  });
</script>

{% endblock %}