{% extends 'base.html' %}

{% block title %}回答详情-知乎儿{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

    {% include 'zhihu/question.html' with question=answer.question %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="site-box">
                    <div class="answer-item">
                        {% if answer.is_anonymous %}
                            <div class="media">
                                <a class="media-left"><img width="24"
                                                           height="24"
                                                           src="{{ MEDIA_URL }}image/default_user.png"
                                                           alt="头像"
                                                           class="media-object"></a>
                                <div class="media-body">
                                    <h4 class="media-heading text-muted">
                                        匿名回答</h4>
                                </div>
                            </div>
                        {% else %}
                            <div class="media">
                                <a target="_blank"
                                   href="{% url 'user_home' answer.author_id %}"
                                   class="media-left"><img width="24"
                                                           height="24"
                                                           src="

                                                                   {{ MEDIA_URL }}{{ answer.author.image }}"
                                                           alt="头像"
                                                           class="media-object"></a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a target="_blank"
                                                                 href="{% url 'user_home' answer.author_id %}">
                                        {{answer.author.username }}</a>
                                    </h4>
                                    <p class="text-muted">{{answer.author.description|default_if_none:''}}</p>
                                </div>
                            </div>
                        {% endif %}
                        <p class="text-muted">{{ answer.get_follow_nums }}
                            人赞同了该回答</p>
                        <p>
                            {{ answer.content|safe }}
                        </p>
                        <p class="text-muted">编辑于 {{ answer.pub_time }}</p>
                        <div class="answer-meta">
                            <button type="button"
                                    class="btn btn-primary btnvote-up"
                                    onclick="follow_answer(this, {{ answer.id }})">
                                <span class="glyphicon glyphicon-triangle-top"></span>
                                {{ answer.get_follow_nums }}
                            </button>
                            <button type="button"
                                    class="btn btn-default btnvote-down"
                                    onclick="unfollow_answer(this, {{ answer.id }})">
                                <span class="glyphicon glyphicon-triangle-bottom"></span>
                            </button>
                            <a href="#comment-form">
                                <button type="button" class="btn btn-default">{{answer.get_comment_nums }} 条评论
                                </button>
                            </a>
                            <button type="button" class="btn btn-default"
                                    onclick="collect_answer(this, {{ answer.id }})">
                                <span class="glyphicon glyphicon-star"></span>
                                {% if has_collect_answer %}已收藏{% else %}
                                    收藏{% endif %}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="site-box">
                    <div class="clearfix">
                        <b>{{ answer.get_comment_nums }} 个评论</b>
                        <!-- <span class="pull-right dropdown">
                          <button class="btn dropdown-toggle" data-toggle="dropdown" type="button">默认排序<span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li class="active"><a href="">默认排序</a></li>
                            <li><a href="">时间排序</a></li>
                          </ul>
                        </span> -->
                    </div>
                    <hr>

                    <div id="comment-list">

                        {% for comment in page.object_list %}
                            <div class="media">
                                <a target="_blank"
                                   href="{% url 'user_home' comment.user_id %}"
                                   class="media-left"><img width="24"
                                                           src="

                                                                   {{ MEDIA_URL }}{{ comment.user.image }}"
                                                           alt="头像"
                                                           class="media-object"></a>
                                <div class="media-body"><h4
                                        class="media-heading"><a
                                        target="_blank"
                                        href="{% url 'user_home' comment.user_id %}">
                                    {{ comment.user.nickname }}</a><span
                                        class="right-info">{{ comment.add_time }}</span>
                                </h4></div>
                            </div>
                            <p class="comment-content">{{ comment.comment }}</p>
                            <hr>
                        {% empty %}
                            <p>暂时没有评论</p>
                        {% endfor %}

                        {% include 'zhihu/paginator.html' %}

                        <form action="{% url 'comment_answer' answer.id %}"
                              class='comment-form' id="comment-form"
                              method='post'>
                            {% csrf_token %}
                            {% for field in comment_form %}
                                <div class="form-group">
                                    {{ field.errors }}
                                    {{ field.label_tag }}
                                    {{ field.as_widget }}
                                </div>
                            {% endfor %}
                            <p class="alert alert-success hidden"
                               id="submit-info"></p>
                            <div class="text-right">
                                <button id="comment-submit"
                                        class="btn btn-primary"
                                        type="submit">评论
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="site-box">
                    <div class="media">
                        <a target="_blank"
                           href="{% url 'user_home' answer.author_id %}"
                           class="media-left"><img width="60"
                                                   src="

                                                           {{ MEDIA_URL }}{{ answer.author.image }}"
                                                   alt="头像"
                                                   class="media-object"></a>
                        <div class="media-body">
                            <h4 class="media-heading"><a target="_blank"
                                                         href="{% url 'user_home' answer.author_id %}">
                                {{ answer.author.username }}</a></h4>
                            <p class="text-muted">
                                {{ answer.author.description|default_if_none:'' }}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="author-meta">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a target="_blank"
                                   href="{% url 'user_answer' answer.author_id %}"><span
                                    class="badge pull-right">{{ answer.author.get_answer_nums }}</span>回答</a>
                            </li>
                            <li><a target="_blank"
                                   href="{% url 'user_followed_by_user' answer.author_id %}"><span
                                    class="badge pull-right">{{ answer.author.get_followed_by_user_nums }}</span>关注者</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="site-box">
                    <p><strong>被收藏了 {{ answer.get_collect_nums }} 次</strong></p>
                </div>
                <div class="site-box">
                    <h4>相关问题</h4>
                    <hr>
                    {% for question in relate_questions %}
                        <p><a href="
{% url 'question_detail' question.id %}">{{ question.title }}</a> <span
                                class="text-muted">{{ question.get_answer_nums }} 个回答</span>
                        </p>
                    {% empty %}
                        <p>没有相关问题</p>
                    {% endfor %}
                </div>
                <!-- <div class="site-box">
                  <h4>相关推荐</h4>
                  <hr>
                  <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
                  <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
                  <p><a href="">推荐文章</a> <span class="text-muted">2 个回答</span></p>
                </div> -->
            </div>
        </div>
    </div>

{% endblock %}

{% block custom_js %}

    <script>
        // js代码在DOM节点的前面先加载, 绑定document的ready事件就好了
        $(function () {
            // 回答评论
            $('#comment-form').on('submit', function (event) {
                event.preventDefault();
                var old_path = location.pathname;
                $.ajax({
                    cache: false,
                    type: 'POST',
                    url: "{% url 'comment_answer' answer.id %}",
                    data: $('#comment-form').serialize(),
                    async: true,
                    success: function (data) {
                        if (data.status == 'success') {
                            //location.href=old_path;
                            $('#id_comment').val('');
                            $('#submit-info').removeClass('hidden').text(data.message);
                            setTimeout(function () {
                                $('#submit-info').addClass('hidden')
                            }, 2000);
                        } else if (data.status == 'fail') {
                            alert(data.message);
                        } else {
                            location.href = "{% url 'user_login' %}" + '?next=' + old_path;
                        }
                    },
                });
            });
        });

        //点赞
        function follow_answer(dom, answer_id) {
            var old_path = location.pathname;
            $.ajax({
                type: 'GET',
                async: true,
                url: "{% url 'add_follow_answer' %}",
                data: {'answer_id': answer_id},
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        if (data.reason == 'add') {
                            var nums = parseInt($(dom).text()) + 1;
                            $(dom).html('<span class="glyphicon glyphicon-triangle-top"></span> ' + nums);
                        } else if (data.reason == 'cancel') {
                            var nums = parseInt($(dom).text()) - 1;
                            $(dom).html('<span class="glyphicon glyphicon-triangle-top"></span> ' + nums);
                        }
                    } else {
                        location.href = "{% url 'user_login' %}" + '?next=' + old_path;
                    }
                },
                error: function (xhr, err_msg, error) {
                    alert('请求出错');
                },
            });
        }

        //取消点赞
        function unfollow_answer(dom, answer_id) {
            if (parseInt($(dom).prev().text()) == 0) {
                return;
            }
            ;
            var old_path = location.pathname;
            $.ajax({
                type: 'GET',
                async: true,
                url: "{% url 'cancel_follow_answer' %}",
                data: {'answer_id': answer_id},
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        if (data.reason == 'cancel') {
                            var nums = parseInt($(dom).prev().text()) - 1;
                            $(dom).prev().html('<span class="glyphicon glyphicon-triangle-top"></span> ' + nums);
                        } else {
                            return;
                        }
                    } else {
                        location.href = "{% url 'user_login' %}" + '?next=' + old_path;
                    }
                },
                error: function (xhr, err_msg, error) {
                    alert('请求出错');
                },
            });
        }

        //收藏回答
        function collect_answer(dom, answer_id) {
            var old_path = location.pathname;
            $.ajax({
                type: 'GET',
                async: true,
                url: "{% url 'collect_answer' %}",
                data: {'answer_id': answer_id},
                cache: false,
                success: function (data) {
                    if (data.status == 'success') {
                        $(dom).html('<span class="glyphicon glyphicon-star"></span> ' + data.message);
                    } else {
                        location.href = "{% url 'user_login' %}" + '?next=' + old_path;
                    }
                },
                error: function (xhr, err_msg, error) {
                    alert('请求出错');
                },
            });
        }

    </script>

{% endblock %}