{% extends 'base.html' %}

{% block title %}知乎儿{% endblock %}

{% block content %}

<div class="container">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <p class="alert alert-info alert-dismissable">
      <button class="close" type="button" data-dismiss="alert">&times;</button>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-8">
      <div class="header-box">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="">提问</a></li>
          <li><a href="">回答</a></li>
          <li><a href="">写文章</a></li>
          <li><a href="">写想法</a></li>
        </ul>
      </div>
      </div>

      {% for answer in page.object_list %}
          <div class="answer-item site-box">
            <p class="text-muted">来自话题:{{ answer.question.get_topic_name }}</p>
            <div class="media">
              <a href="" class="media-left"><img src="" alt="头像" class="media-object"></a>
              <div class="media-body">
                <h4 class="media-heading">{{ answer.author.nickname }} <small>{{ answer.author.description }}</small></h4>
              </div>
            </div>
            <div class="question-title">
                <a href="{% url 'question_detail' answer.question_id %}"><h3>{{ answer.question.title }}</h3></a>
            </div>
            <div class="answer-content">
                <a href="{% url 'answer_detail' answer.id %}"><p>{{ answer.content|truncatechars:200|safe }}</p></a>
            </div>
            <div class="answer-meta">
              <a href="{% url 'answer_detail' answer.id %}"<button type="button" class="btn btn-primary btnvote-up"><span class="glyphicon glyphicon-triangle-top"></span> {{ answer.follow_nums }}</button></a>
              <a href="{% url 'answer_detail' answer.id %}"<button type="button" class="btn btn-default btnvote-down"><span class="glyphicon glyphicon-triangle-bottom"></span></button></a>
              <a href="{% url 'answer_detail' answer.id %}"><button type="button" class="btn btn-default">{{ answer.comment_nums }} 条评论</button></a>
              <a href="{% url 'answer_detail' answer.id %}"<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-star"></span>收藏</button></a>
              <span>{{ answer.pub_time }}</span>         
            </div>
            
          </div>
      {% empty %}
      <p>没有问答</p>
      {% endfor %}

      {% include 'zhihu/paginator.html' %}

    </div>

    <div class="col-sm-4">


    <div class="site-box">
      {% if request.user.is_authenticated and request.user.confirmed == False %}
      <p>你的账户还没确认, 请前往邮箱确认.</p>
      <p>没收到确认邮件, 点击 <a class="send-email" href="{% url 'resend_confirm_email' %}">重新发送</a></p>
      {% endif %}
      <div class="media">
          <div class="media-left">
              <img src="" alt="头像" class="media-object">
          </div>
          <div class="media-body">
              <h4 class="media-heading">Allen</h4>
              <p>这是一些示例文本</p>
          </div>
      </div>
      <hr>
      <div class="">
        <ul class="nav nav-stacked">
        <li><a href=""><span class="badge pull-right">29</span><b>我的收藏</b></a></li>
        <li><a href=""><span class="badge pull-right">14</span><b>我关注的问题</b></a></li>
        </ul>
        </div>
      </div>
    

    <div class="site-box">
      <h4>加入知乎儿, 留下手印</h4>
      <p>
        <a target="_blank" href="{% url 'register' %}"><button class="btn btn-primary btn-lg btn-block">注册</button></a>
        <a target="_blank" href="{% url 'user_login' %}"><button class="btn btn-default btn-lg btn-block">登录</button></a>
      </p>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">标签</div>
      <div class="panel-body">
        <p>
          {% for tag in tags %}
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-tags"></span>&nbsp;没有</button>
          {% empty %}
          暂时没有标签
          {% endfor %}
        </p>
      </div>
    </div>


      <div class="panel panel-default">
        <div class="panel-heading">热门推荐</div>
        <div class="panel-body">
          <ul class="blog-hot">

            <li><a href="">什么都没有</a></li>
          </ul>

          </div>
        </div>
      </div>

    </div>
</div>

{% endblock %}

{% block custom_js %}

<script>
  function add_follow(current_elem) {
    $.ajax({
      cache:false,
      type:'POST',
      url:"{% url 'add_follow_answer' %}",
      data:{'id':current_elem.attr('answer-id')},
      async:true,
      beforeSend:function(xhr, settings) {
        xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}");
      },
      success:function(data) {
        if(data.status == 'fail') {
          alert(data.message);
        }else if (data.status == 'success'){
          window.location.reload();
        }
      },
    });
  }

  $('#add-follow-answer').on('click', function() {
    add_follow($(this));
  });
</script>

{% endblock %}