<div class="container-fluit">
<div class="container">
  <div class="row">
    <div class="col-sm-8">
    <div class="question-detail">
      <p>
        {% for topic in question.topics.all %}
        <a href="{% url 'topic_detail' topic.id %}"><button class="btn btn-default" type="button">{{ topic.name }}</button></a>
        {% endfor %}
      </p>
      <div class="question-title">
        <a href="{% url 'question_detail' question.id %}"><h3>{{ question.title }}</h3></a>
      </div>
      <p>{{ question.content }}</p>
      <div class="question-meta">
        <button type="button" class="btn btn-primary follow-question">{% if has_follow_question %}已关注{% else %}关注问题{% endif %}</button>
        <a href=""><button type="button" class="btn btn-default">写回答</button></a>
        <span>{{ question.pub_time }}</span>
      </div>
    </div>
    </div>

    <div class="col-sm-4">
      <div class="question-info text-center">
        <p>关注者: {{ question.get_follow_nums }}</p>
        <p>被浏览: {{ question.read_nums }}</p>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  //关注问题
  $('.follow-question').on('click', function() {
    var old_path = window.location.pathname;
    $.get("{% url 'follow_question' question.id %}", function(data) {
      if(data.status == 'success') {
        $('.follow-question').text(data.message);
      }else if(data.status == 'fail') {
        alert(data.message);
      }else {
        window.location.href = "{% url 'user_login' %}" + '?next=' + old_path;
      }  
    });
  });
</script>
