{% extends 'base.html' %}

{% block title %}{{ user.nickname }}的主页-知乎儿{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="site-box">
        <div class="media">
          <div class="media-left"><img width="160" height="160" src="{{ MEDIA_URL }}{{ user.image }}" alt="头像" class="media-left"></div>
          <div class="media-body">
            <h3 class="media-heading username-big">{{ user.nickname }}</h3>
            <p>{{ user.description|default_if_none:'' }}</p>
            <p class="text-muted">{% if user.gender == 'M' %}<i class="fa fa-mars fa-2x"></i>{% elif user.gender == 'F' %}<i class="fa fa-venus fa-2x"></i>{% endif %}</p>
            {% if user.address %}<p><span class="user-profile">居住地</span><span>{{ user.address }}</span></p>{% endif %}
            {% if user == request.user %}
            <div class="text-right"><a href="{% url 'edit_profile' %}">编辑个人资料</a></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="site-box">
        <div class="nav nav-pills header-bar">
          <li class="active"><a href="{% url 'user_home' user.id %}">动态</a></li>
          <li><a href="{% url 'user_answer' user.id %}">回答</a></li>
          <li><a href="{% url 'user_question' user.id %}">提问</a></li>
          <li><a href="">想法</a></li>
        </div>
        <hr>
        {% block user_content %}
        
        {% endblock %}
      </div>
    </div>

    <div class="col-sm-4">
      <div class="site-box">
        <h4>个人成就</h4>
        <hr>
        <p><span class="glyphicon glyphicon-thumbs-up"></span> 获得 {{ user.get_answer_by_followed_nums }} 次赞同</p>
        <p><span class="glyphicon glyphicon-star"></span> 获得 {{ user.get_answer_by_collected_nums }} 次收藏</p>
      </div>
      <div class="site-box">
        <div class="nav nav-pills nav-stacked">
          <li><a href=""><span class="badge pull-right">12</span>关注了</a></li>
          <li><a href=""><span class="badge pull-right">15</span>关注者</a></li>
        </div>
      </div>
      <div class="site-box">
        <div class="nav nav-pills nav-stacked">
          <li><a href=""><span class="badge pull-right">37</span>关注的话题</a></li>
          <li><a href=""><span class="badge pull-right">35</span>关注的问题</a></li>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block custom_css %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

{% endblock %}